/*css styles*/
/****************************headings*/
h1, h2, h3{
    text-align: left;
}
h2{
    margin-bottom: 1.5em;
    color: #374c80;
    font-weight: 900;
    font-size: 2em;
}
h3{
    font-size: 1.5em;
    color: #ffa600;
    text-align: center;
    font-weight: 900;
}
.mainHeading{
    text-align: left;
}
.selectHeading{
    font-size: 1.5em;
    text-align: left;
}
/***************************Navbar Styles*/
.navbar-expand-lg{
    background-color: #2f4b7c;
}
.navbar-nav .nav-item .nav-link{
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #2f4b7c;
    background: #ffffff;
    font-weight: 800;
    text-decoration: none;
}
.navbar-nav .nav-item .nav-link:visited{
    text-decoration: none;
}
/*******Bottom Border for Middle sections*/
.borderBottom{
    border-bottom: 3px solid #003f5c;
    width: 100%;
}

.container{
    margin: 0 auto;
}
footer{
    background: #003f5c;
    height: 100px;
    color: #ffff;
}
/******************************Chart Containers*/
.section{
    padding: 3em 2em;
    width: 100vw;
    padding: 5px;
    margin: 0 auto;
}
/******************************Cereal Container*/
.selectCereal{
    padding: 4em 0;
}
#selectMenu{
    display: block;
    padding: 0;
    margin: 0 auto;
}
#pieChart{
    padding: 0;
    margin: 0;
}
.pieChartParagraph{
    font-size: 1em;
    position: relative;
    float: right;
}
/******************************Charts*/
#productsPerManufacturer .legend{
    font-size: 18px;
    fill: #ffff;
}
/*Removes the tick marks on the x-axis of the barChart*/
#breakfast .x.axis .tick line{
    display: none;
}
/*rotates labels for bars on barChart*/
#breakfast .x.axis text{
    transform: rotate(90deg) translate(-20px, -15px);
    font-size: .8em;
    font-weight: 800;
    fill: #ffff;
    text-anchor: end !important;
}
.barChartParagraph{
    margin-top: 20px;
    font-size: 18px;
}
@media screen and (min-width: 768px ){
    h1, h2, h3{
    text-align: center;
    }
    .section{
        width: 100%;
    }
}
@media screen and (min-width: 992px ){
    h1, h2, h3{
    text-align: center;
    }
    .section{
        width: 90vw;
    }
    .borderBottom{
        width: 90%;
    }
    /*.selectCereal{
        background: url("../images/bowl.png") center center no-repeat;
        background-size: contain;
        padding: 2em;
    }*/
}