/*css styles*/
/****************************headings*/
h1, h2, h3{
    text-align: center;
}
h2{
    margin-bottom: 2em;
    color: #374c80;
    font-weight: 900;
    font-size: 2em;
}
h3{
    font-size: 2em;
    color: #ffa600;
    text-align: center;
    font-weight: 900;
}
.mainHeading{
    text-align: center;
}
.selectHeading{
    font-size: 24px;
}

/*******Bottom Border for Middle sections*/
.borderBottom{
    border-bottom: 3px solid #003f5c;
    width: 90%;
}
footer{
    background: #003f5c;
    height: 100px;
    color: #ffff;
}
/******************************NavBar*/
.navbar-expand-lg{
    background-color: #2f4b7c;
}
/******************************Chart Containers*/
.section{
    padding: 3em 2em;
    width: 90vw;
    margin: 0 auto;
}
/******************************Cereal Container*/
.selectCereal{
    padding: 4em 0;
}
#selectMenu{
    width: 60px;
    display: block;
    margin: 0 auto;
}
.pieChartParagraph{
    font-size: 1em;
    position: relative;
    float: right;
}
/******************************Charts*/
/*Removes the tick marks on the x-axis of the barChart*/
#breakfast .x.axis .tick line{
    display: none;
}
/*rotates labels for bars on barChart*/
#breakfast .x.axis text{
    transform: rotate(90deg) translate(-20px, -15px);
    font-size: .8em;
    font-weight: 800;
    fill: #ffff;
    text-anchor: end !important;
}
.barChartParagraph{
    margin-top: 20px;
    font-size: 18px;
    width: 90%;
}
@media screen and (min-width: 992px ){
    .selectCereal{
        background: url("../images/bowl.png") center center no-repeat;
        background-size: contain;
        padding: 2em;
    }
}